/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
@keyframes ping {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }
  70% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.ping-animation {
  animation: ping 50s;
}


/* Tailwind CSS classes or your custom styles can be added here */

.instagram-story-carousel {
  display: flex;
  overflow-x: auto; /* Enable horizontal scrolling for more stories */
  max-width: 100%; /* Make sure it's responsive */
  scrollbar-width: thin; /* Add scrollbar for browsers that support it */
  white-space: nowrap;
  padding: 0.5rem;
}

.story {
  width: 100px;
  height: 100px;
  margin-right: 0.5rem; /* Adjust the spacing between stories */
  background-size: cover;
  background-position: center;
  transition: transform 0.5s ease-in-out;
  border: 2px solid transparent;
  cursor: pointer;
}

.story.active {
  transform: scale(1.1);
  border-color: #0095f6; /* Highlight the active story */
}


.circle {
  position: relative;
  /* width: 100px;
  height: 100px; */
}
.circle svg {
  position: absolute;
  margin: -7px;
  top: 0;
  left: 0;
  right: 0;
  fill: none;
  stroke: #e7f70d;
  stroke-linecap: round;
  stroke-width: 2;
  stroke-dasharray: 1;
  stroke-dashoffset: 0;
  
  /* animation: stroke-draw 6s ease-out infinite alternate; */
}
.circle img {
  position: relative;
  padding: 6px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* width: 70px;
  height: 70px; */
  border-radius: 50%;
}
@keyframes stroke-draw {
  from {
    stroke: #f1bd22;
    stroke-dasharray: 1;
  }
  to {
    stroke: #cd486b;
    transform: rotate(180deg);
    stroke-dasharray: 8;
  }
}


